{% extends "base.html" %}

{% block app_content %}
	<div class="row">
		<div class="col-md-10">
		<table style="width:100%">
			<tr>
				<td><h1>My sensors</h1></td>
				<td align="right"><a href="{{ url_for('new_sensor') }}" class="btn btn-primary">New sensor</a></td>
			</tr>
		</table>
		<table class="table table-striped" id="sensors">
			<thead>
			<tr>
				<th class="col-md-1">ID</th>
				<th class="col-md-2">Name</th>
				<th class="col-md-2">Type</th>
				<th class="col-md-2">Parent asset</th>
				<th class="col-md-2">UID</th>
				<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody>
			{% for sensor in sensors %}
			<tr>
				<td>{{ sensor.sensor_id }}</td>
				<td><a href="/sensor_details/{{ sensor.sensor_id }}">{{ sensor.sensor_name }}</a></td>
				<td>{{ sensor.sensor_type }}</td>
				<td><a href="/asset_details/{{ sensor.sensor_asset_id }}">{{ sensor.sensor_asset_name }}</a></td>
				<td>{{ sensor.sensor_UID }}</td>
				<td align="right"><a href="/edit_sensor/{{ sensor.sensor_id }}" class="btn btn-primary">Edit</a></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}