{% extends "base.html" %}

{% block app_content %}
	<div class="row">
		<div class="col-md-10">
		<table style="width:100%">
			<tr>
				<td><h1>Devices</h1></td>
				<td align="right"><a href="{{ url_for('new_device') }}" class="btn btn-primary">New device</a></td>
			</tr>
		</table>
		<table class="table table-striped" id="services">
			<thead>
			<tr>
				<th class="col-md-1">ID</th>
				<th class="col-md-2">Name</th>
				<th class="col-md-2">Price</th>
				<th class="col-md-2">IOTA Address</th>
                <th class="col-md-2">Remaining time</th>
                <th class="col-md-2">Status</th>
				<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody>
			{% for device in devices %}
			<tr>
				<td>{{ device.device_id }}</td>
                <td><a href="/device_details/{{ device.device_id }}">{{ device.device_name }}</a></td>
                <td>{{ device.device_price }}</td>
                <td>{{ device.device_payment_address }}</td>                
                <td>{{ device.device_remaining_time }}</td>                
                <td>{{ device.device_status }}</td>
				<td align="right"><a href="/edit_device/{{ device.device_id }}" class="btn btn-primary">Edit</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}