{% extends "base.html" %}

{% block app_content %}
	<div class="row">
		<div class="col-md-10">
		<table style="width:100%">
			<tr>
				<td><h1>My withdrawals</h1></td>
				<td align="right"><a href="{{ url_for('new_withdrawal') }}" class="btn btn-primary">New withdrawal</a></td>
			</tr>
		</table>
		<table class="table table-striped" id="withdrawals">
			<thead>
			<tr>
				<th class="col-md-1">ID</th>
				<th class="col-md-2">Account</th>
				<th class="col-md-1">Amount</th>
				<th class="col-md-2">Timestamp</th>				
				<th class="col-md-4"></th>
			</tr>
			</thead>
			<tbody>
			{% for withdrawal in withdrawals %}
			<tr>
				<td>{{ withdrawal.withdrawal_id }}</td>
				<td><a href="/account_details/{{ withdrawal.withdrawal_account_id }}">{{ withdrawal.withdrawal_account_name }}</a></td>
				<td>{{ withdrawal.withdrawal_value }}</td>
				<td>{{ withdrawal.withdrawal_timestamp }}</td>
				<td></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}