<html>
    <head>
        {% if title %}
        <title>{{ title }} - IotaGo</title>
        {% else %}
        <title>IotaGo</title>
        {% endif %}
    </head>
    <body>
        <div>
            IotaGo:
            <a href="{{ url_for('index') }}">Home</a>
            {% if not current_user.is_anonymous %}
			<a href="{{ url_for('members') }}">Members</a>
			<a href="{{ url_for('transactions') }}">Transactions</a>
			<a href="{{ url_for('tags') }}">Tags</a>
			<a href="{{ url_for('assets') }}">Assets</a>
            <a href="{{ url_for('sensors') }}">Sensors</a>
            <a href="{{ url_for('accounts') }}">Accounts</a>    
            <a href="{{ url_for('deposits') }}">Deposits</a>    
            <a href="{{ url_for('withdrawals') }}">Withdrawals</a>    
            {% endif %}
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('user', username=current_user.name) }}">Profile</a>
            {% endif %}
			Currently logged in as: {{ current_user.name }}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>