{% extends "base.html" %}

{% block app_content %}
	<div class="row">
		<div class="col-md-10">
		<table style="width:100%">
			<tr>
				<td><h1>Member details</h1></td>
			</tr>
		</table>
		<table class="table table-striped" id="asset_details">
			<thead>
			<tr>
				<th class="col-md-2">Attribute</th>
				<th class="col-md-8">Value</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>ID</td>
				<td>{{ member.member_id }}</td>
			</tr>
			<tr>
				<td>Created</td>
				<td>{{ member.member_created }}</td>
			</tr>
			<tr>
				<td>Modified</td>
				<td>{{ member.member_modified }}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>{{ member.member_name }}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>{{ member.member_email }}</td>
			</tr>
			<tr>
				<td>Phone</td>
				<td>{{ member.member_phone }}</td>
			</tr>
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}