{% extends "base.html" %}

{% block app_content %}
	<div class="row">
		<div class="col-md-10">
		<table style="width:100%">
			<tr>
				<td><h1>Tag details</h1></td>
			</tr>
		</table>
		<table class="table table-striped" id="asset_details">
			<thead>
			<tr>
				<th class="col-md-2">Attribute</th>
				<th class="col-md-8">Value</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>ID</td>
				<td>{{ tag.tag_id }}</td>
			</tr>
			<tr>
				<td>Created</td>
				<td>{{ tag.tag_created }}</td>
			</tr>
			<tr>
				<td>Modified</td>
				<td>{{ tag.tag_modified }}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>{{ tag.tag_name }}</td>
			</tr>
			<tr>
				<td>Type</td>
				<td>{{ tag.tag_type }}</td>
			</tr>
			<tr>
				<td>UID</td>
				<td>{{ tag.tag_UID }}</td>
			</tr>
			<tr>
				<td>Owner</td>
				<td><a href="/member_details/{{ tag.tag_owner_id }}">{{ tag.tag_owner_name }}</a></td>
			</tr>
			<tr>
				<td>Account</td>
				<td><a href="/account_details/{{ tag.tag_account_id }}">{{ tag.tag_account_name }}</a></td>
			</tr>
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}