{% extends "base.html" %}

{% block app_content %}
	<div class="row">
		<div class="col-md-10">
		<table style="width:100%">
			<tr>
				<td><h1>My tag transactions</h1></td>
			</tr>
		</table>
		<table class="table table-striped" id="tags">
			<thead>
			<tr>
				<th class="col-md-1">ID</th>
				<th class="col-md-2">Tag</th>
				<th class="col-md-2">Asset</th>
				<th class="col-md-2">Timestamp</th>
				<th class="col-md-1">Value</th>
				<th class="col-md-2">Status</th>
			</tr>
			</thead>
			<tbody>
			{% for transaction in tag_transactions %}
			<tr>
				<td>{{ transaction.transaction_id }}</td>
				<td>{{ transaction.tag_name }}</td>
				<td>{{ transaction.asset_name }}</td>
				<td>{{ transaction.transaction_timestamp }}</td>
				<td>{{ transaction.transaction_value }}</td>			
				<td>{{ transaction.transaction_status }}</td>			
			</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}