{% extends "base.html" %}

{% block app_content %}
<!-- Tab links -->

<div class="row">
    <div class="col-md-10">
    <table style="width:100%">
        <tr>
            <td><h1>My assets</h1></td>
            <td align="right"><a class="btn btn-primary">New asset</a></td>
        </tr>
        <tr>
            <td>
            <select class="form-control form-control-lg">
                <option>Large select</option>
                <option>Large select</option>
                <option>Large select</option>
                <option>Large select</option>
            </select>
            </td>
            <td align="right"><a class="btn btn-primary">Edit</a></td>
        </tr>

    </table>

    <hr>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Asset Details</a></li>
        <li><a data-toggle="tab" href="#menu1">Asset Transactions</a></li>
        <li><a data-toggle="tab" href="#menu2">Asset Tags</a></li>
        <li><a data-toggle="tab" href="#menu3">Asset Readers</a></li>
    </ul>


    <div class="tab-content">

        <div id="home" class="tab-pane fade in active">
            <h3>Ass details</h3>
        </div>

        <div id="menu1" class="tab-pane fade">
            <h3>Ass trans</h3>
        </div>

        <div id="menu2" class="tab-pane fade">
            <h3>Ass tags</h3>
        </div>

        <div id="menu3" class="tab-pane fade">
            <h3>Ass readers</h3>
        </div>
    </div>



    </div>
</div>


{% endblock %}