{% extends "base.html" %}

{% block app_content %}
	<div class="row">
		<div class="col-md-10">
		<table style="width:100%">
			<tr>
				<td><h1>My transactions</h1></td>
			</tr>
		</table>
		<table class="table table-striped" id="transactions">
			<thead>
			<tr>
				<th class="col-md-1">ID</th>
				<th class="col-md-2">Asset</th>
				<th class="col-md-2">Type</th>
				<th class="col-md-1">Value</th>
				<th class="col-md-2">Timestamp</th>
			</tr>
			</thead>
			<tbody>
			{% for transaction in transactions %}
			<tr>
				<td>{{ transaction.transaction_id }}</td>
				<td><a href="/asset_details/{{ transaction.asset_id }}">{{ transaction.asset_name }}</a></td>
				<td>{{ transaction.transaction_type }}</td>
				<td>{{ transaction.transaction_value }}</td>			
				<td>{{ transaction.transaction_timestamp }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}